# git folder
.git

# npm
node_modules
npm-debug.log

# package
package-lock.json

# mac
.DS_Store

# cache
.cache

# personal env
.env

# email recipients (editable directly on production, not committed)
# app/config/email-recipients.config.js

 public/uploads/users_upload_files